html, body
{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url(photo-1453120566849-be97281a59ae.jpg)no-repeat center center fixed;
    background-size: cover;
}
label
{
    font-size: 375%;
    width: 23.915%;
    margin-bottom: 15px;
}
.form
{
    /*background-color: rgba(201, 136, 214,0.1); /*rgba(200, 53, 229,0.7) прозрачность */
    height: 500px;
    width: 400px;
    margin: 200px auto 0 auto;
    text-align: center;
    z-index: 125;
}
form input
{
    width: 300px;
    height: 30px;
    font-size: 15px;
    padding-left:15px; 
}
form input:last-child
{
    border-bottom: 1px;
}
form input[name="register"]
{
    padding: 15px 0 30px 0;
    margin: 15px 0 20px 0;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
form input[name="register"]:hover
{
    transition: all 0.3s;
    background-color: rgb(14, 201, 60);
    color: #fff;
}
form input[name="vk"]
{
    display: none;
    padding: 15px 0 30px 0;
    margin: 5px 0 20px 0;
    font-size: 15px;
    background-color:#50bdd9;
    font-weight: bold;
    height: 52px;
    font-size: 18px;
    color: #fff;
    border: none;
    cursor: pointer;
}
form input[name="vk"]:hover
{
    transition: all 0.3s;
    background-color: rgb(10, 173, 238);
    color: #fff;
}
hr
{
    display: none;
    width: 350px;
}
span
{
    display: none;
    display: inline-block;
    position: relative;
    top: 17px;
    padding: 0 10px;
    background-color: #fffff0;;
}