<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои исполнители</title>
</head>
<body>
    {% if user.username %}
    <div class="perlist">
    <form action="/performers/newperformer" method="post">
        {% csrf_token %}
        <input class="button" type="submit" value="Создать нового исполнителя">
        {% for performer in user.userperformer.all %}
            <a href="/performer/{{performer.slug}}"><h3>{{performer.name_per}}</h3></a>
        {% endfor %}
    </form>
    </div>
    {% else %}
    <a href="/auth/login"><h3>Логинься</h3></a>
    {% endif %}
</body>
</html>