<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    {% load staticfiles %}
    <link id="playerCSS" rel="stylesheet" type="text/css" href="{% static 'loginsys/css/registr.css' %}" />
    <script src="{% static 'loginsys/js/vue.js' %}"></script>
</head>
<body>
    <form action="/auth/register" method="post">
        {% csrf_token %}
        <div id="form" class="form">
            <label>BoysBand</label>
            <br>
            <input type="text" name="username" placeholder="Имя пользователя">
            <input type="email" name="email" placeholder="Эл. почта">
            <input type="password" v-on:input="pass1 = $event.target.value" name="password1" placeholder="Пароль">
            <input type="password" v-on:input="pass2 = $event.target.value" name="password2" placeholder="Повторите пароль">
            <p>Ошибка: {{ '{{' }} massege }}</p>
            <input class="button" v-on:click='different_pass' type="submit" name="register" value="Зарегистрироваться">
            <!-- <span>Войти через</span>-->
            <hr>
            <input type="submit" name="vk" value="Вконтакте">
        </div>
    </form>
    <script src="{% static 'loginsys/js/registr.js' %}"></script>
</body>
</html>