
{% load staticfiles %}
<script type="text/x-template" id="music-top">
<div class="music-top">
    <div id="next-page" class="next-page"></div>
    <div id="previous-page" class="previous-page"></div>
    <img class="img" :src="infotrack[0]" alt="обложка">
    <div class="text">
            <label>Лучшая в этом месяце</label>
            <p>{{ '{{' }} infotrack[1]}} - {{ '{{' }} infotrack[2]}}</p>
                <p>Понравилась: {{ '{{' }} infotrack[3]}} пользователям</p>
                <div class="play">
                    <i class="fa fa-play fa-4x" aria-hidden="true"></i>
                </div>
                <div class="turn">
                    <i class="fa fa-align-justify fa-4x" aria-hidden="true"></i>
                </div>
    </div>
</div>
</div>
</script>
<script type="text/x-template" id="compositor-top">
<div class="compositor-top">
    <label>
        Лучшие исполнители
    </label>
    <div class="compositors" id="compositors">
        <div class="compositor" v-for="compositor in compositors">
            <img class="compositor-avatar" :src="compositor[1]" alt="обложка">
            <label class="compositor-name">{{ '{{' }} compositor[0]}}</label>
        </div>
    </div>
</div>
</script>
<script type="text/x-template" id="compilation">
<div class="compilation convert">
    <div class="music">
        <img class="cover" src="" alt="обложка">
        <transition>
            <img class="disk" src="{% static 'mainapp/images/disk.png' %}" alt="disk">
        </transition>
        <span class="group-name">In Flames</span>
        <span class="music-name" title="сюда тоже спавнить название трека">Мощный, прям ваще, пердёжь твоего бати</span>
    </div>
    <div class="music">
        <img class="cover" src="" alt="обложка">
        <transition>
            <img class="disk" src="{% static 'mainapp/images/disk2.png' %}" alt="disk">
        </transition>
        <span class="group-name">David Bowie</span>
        <span class="music-name" title="сюда тоже спавнить название трека">Гениальная музыка</span>
    </div>
    <div class="music">
        <img class="cover"  src="" alt="обложка">
        <transition>
            <img class="disk" src="{% static 'mainapp/images/disk2.png' %}" alt="disk">
        </transition>
        <span class="group-name">In Flames</span>
        <span class="music-name" title="сюда тоже спавнить название трека">Мощный, прям ваще, пердёжь твоего бати</span>
        </div>
    <div class="music">
        <img class="cover" src="" alt="обложка">
        <img class="disk" src="{% static 'mainapp/images/disk2.png' %}" alt="disk">
        <span class="group-name">In Flames</span>
        <span class="music-name" title="сюда тоже спавнить название трека">Мощный, прям ваще, пердёжь твоего бати</span>
    </div>
    <div class="music">
        <img class="cover" src="" alt="обложка">
        <img class="disk" src="{% static 'mainapp/images/disk2.png' %}" alt="disk">
        <span class="group-name">David Bowie</span>
        <span class="music-name" title="сюда тоже спавнить название трека">Гениальная музыка</span>
    </div>
    </div>
</script>
<script src="{% static 'mainapp/js/music-top.js' %}"></script>