{% load staticfiles %}
<script type="text/x-template" id="header-container">
    <div  class="header-conteiner">
            <div class="header" >
                <div class="row">
                    <router-link to="/">
                        <div class="name">
                            BoysBand
                        </div>
                    </router-link>
                    <div class="management">
                        {% if username %}
                        
                        <div class="drop-menu row" @mouseenter="menuShow=!menuShow" @mouseleave="menuShow=!menuShow" >
                            <span>{{ username }}</span>
                            <img title="загрузить"  class="user" src="/static/mainapp/images/user.svg" alt="user">
                            <ul class="menu-drop" v-if="menuShow">
                                <li><router-link to="/performers/me">Профиль</router-link></li> <!-- <a @click="openProfile">Профиль</a> -->
                                <li><a href="auth/logout/">Выйти</a></li>
                            </ul>
                        </div>
                    
                        <img class="uploadButton" src="/static/mainapp/images/download.svg" alt="loader" @click='showMenu'>
                        <!--<a href="loader-music/">Добавить</a>-->
                        <!--<a href="performers/">Моя музыка</a>-->
                        
                        {% else %}
                        <a href="auth/login/">Авторизация</a>
                        <a href="auth/register">Регистрация</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
</script>

<script type="text/x-template" id="music-top">
<div class="music-top">
    <div id="next-page" class="next-page"></div>
    <div id="previous-page" class="previous-page"></div>
    <div class="infotrack" v-for="infotrack in infotracks">
    <img class="img" :src="infotrack.image_alb" alt="обложка">
    <div class="text">
            <label>Лучшая в этом месяце</label>
            <p>{{ '{{' }} infotrack.name_per}} - {{ '{{' }} infotrack.name_trc}}</p>
                <p>Понравилась: {{ '{{' }} infotrack.rating_trc}} пользователям</p>
                <div class="play">
                    <i class="fa fa-play fa-4x" aria-hidden="true"></i>
                </div>
                <div class="turn">
                    <i class="fa fa-align-justify fa-4x" aria-hidden="true"></i>
                </div>
    </div>
    </div>
</div>
</script>

<script type="text/x-template" id="compositor-top">
<div class="compositor-top">
    <label>
        Лучшие исполнители
    </label>
    <div class="compositors" id="compositors">
        <div class="compositor" v-for="compositor in compositors">
            <img class="compositor-avatar" :src="compositor.image_per" alt="обложка">
            <label class="compositor-name">{{ '{{' }} compositor.name_per}}</label>
        </div>
    </div>
</div>
</script>

<script type="text/x-template" id="compilation">
    <div id="compilation-top">
    <div class="recommendations">
            <div class="sortirovka">
                <label class="sortirovka-name">Рекомендации</label>
                <div class="sort">
                    <label>Отсортировать по:</label>
                    <a class="time" id="button">времени</a>
                    <a class="topic" id="button">популярности</a>
                </div>
            </div>
            <div class="music-style">
                <a class="janr" name="" @click="showGenre('all')">Все</a>
                <a class="janr" name="" @click="showGenre('rec')">Рекомендации</a>
                <a class="janr" name="" @click="showGenre('fav')">Избранное</a>
                {% for gen in genre %}
                    <a class="janr" name="{{gen.id}}" @click="showGenre('{{gen.id}}')">{{gen.name_gnr}}</a>
                {% endfor %}
            </div>
        </div>
    <div class="compilation convert" ref="list">
        <div class="music" v-for="(compilation, index) in compilations">
            <img class="cover" :src="compilation.image_alb" alt="обложка" @click="trackClick(index)">
            <img class="disk" :src="compilation.image_alb" alt="disk">
            <span :title="compilation.name_trc" class="group-name">{{ '{{' }} compilation.name_trc}}</span>
            <span class="music-name" >{{ '{{' }} compilation.name_per}}</span>
        </div>
    </div>
    </div>
</script>

<script type="text/x-template" id="main">
    <div class="main" id="main">
        <div class="topics">
            <app-music-top></app-music-top>
            <compositor-top></compositor-top>
        </div>
        <app-compilation></app-compilation>
    <footer>
        ©Отвратительные мужики
    </footer>
    </div>
</script>
<script src="{% static 'mainapp/js/music-top.js' %}"></script>