{% block content %}
{% load staticfiles %}

<!--<script src="{% static 'mainapp/js/audio.js' %}"></script>-->
<script src="{% static 'mainapp/js/vue.js' %}"></script>

<div id="player">
    <div id="playerContainer">
        <div class="Button" id="mainLogo" @mouseenter="mouseenter" @mouseleave="mouseleave" @click="click">
            <img id="logo" :src="logoSource" draggable="false"/>  <!--src="{% static logo_link %}"-->
            <img v-show="showLike" class="Player" id="like" src="{% static 'mainapp/images/like.png' %}" draggable="false"/>
            <!--<div id="progressBar"></div>-->
        </div>
        <div id="menu">
            <img class="Button" id="menuPic" @click="click" src="{% static 'mainapp/images/menu.png' %}" draggable="false"/>
            <ul id="menuDropdown" v-show="showDropdown">
                <li class="Button" v-for="elem in menuElements" v-html="elem"></li>
            </ul>
        </div>
        <div id="trackPerformerName"></div>
        <img class="Player" id="maintoprevlogo" src="" draggable="false" /> <!--src="{% static logo_link %}"-->
        <img class="Player" src="" id="prevlogo" draggable="false" />
        <img class="Player" id="nextlogo" src="" draggable="false" /> <!--src="{% static nextlogo_link %}"-->
        <audio id="audio" ><source src="" type="audio/mpeg"/></audio> <!--src="{% static file_link %}"-->
        <img class="Button" id="playButton" @click="click" :src="picSource" draggable="false" />
        <img class="Button" id="nextButton" @click="click" src="{% static 'mainapp/images/nextButton.png' %}"  draggable="false"/>
        <!--<img class="Button Player" id="previousButton" src="{% static 'mainapp/images/previousButton.png' %}" draggable="false" />-->
        <div id="volume" v-show="show" >
            <div id="volumeBackground" ></div>
            <div class="Player Button" id="draggingZone" @mouseleave="mouseleave"></div>
            <img class="Button" id = "ball" src="{% static 'mainapp/images/circle.png' %}" draggable="false"/>
            <div class="Player Button" id="line"></div>
            <div id="fillingLine"></div>
        </div>
        <div id="speaker" @mouseenter="mouseenter">
            <img class="Button" id="speakerPic" src="{% static 'mainapp/images/speaker100.png' %}" draggable="false"/></div>
    </div>
    <img class="Button" id="dropdown" src="{% static 'mainapp/images/dropdown.png' %}" draggable="false" />
    <div class="Button" id ="progress">
        <p id="playedTime">0:00</p>
        <p id="trackLength"></p>
        <div class="Player Button" id="progressLine"></div>
        <div id="progressBarLine"></div>
    </div>
</div>
    <script src="{% static 'mainapp/js/audioVue.js' %}"></script>
{% endblock %}