{% block content %}
{% load staticfiles %}

    <script type="text/x-template" id="topPlayer">  <!--сам плеер (родительский элемент)-->
        <div>
            <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/audio.css' %}" />
            <link id="playerCSS" rel="stylesheet" type="text/css" :href="CSSRef" />
            <div id="player" @mouseenter="onMouseEnter" @mouseleave="onMouseLeave">
                <div class="player-container" :style="containerMove">
                    <buttons :isFull="isFull" @nextclick="loadNextTrack" @dropdownclick="switchPlayerView"></buttons>
                    <logos v-bind="logos" @likepressed="onLikePressed" :isFull="isFull"></logos>
                    <menu-more></menu-more>
                    <track-performer v-bind="trackPerformer"></track-performer>
                    <volume-controller ref="volumeController" :isFull="isFull"></volume-controller>
                    <audio-player ref="audioPlayer" v-bind="audio" @playingended="loadNextTrack"></audio-player>
                    <queue v-bind="queue" @queue-opened="moveContainer"></queue>
                    <!--<img class="Button Player" id="previousButton" src="" draggable="false" />-->
                </div>
                
                <progress-bar :isPlayerHovered="isHovered" :isFull="isFull"></progress-bar>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="buttons"> <!--общий компонент для обычных кнопок (play, next, dropdown)-->
        <div>
            <img v-for="button in buttons" :src="button.imgSrc" class="Button" :id="button.id" @click="button.click" draggable="false" />
        </div>
    </script>

    <script type="text/x-template" id="logos"> <!--компонент для всех лого-->
        <div>
            <div class="Button" id="mainLogo" @click="click" @mouseenter="onMouseEnterMain" @mouseleave="onMouseLeaveMain" :style="mainLogoAnimation">
                <img id=vinyl src="{% static 'mainapp/images/redVinyl.png' %}">
                <img id="logo" :src="logoLink" draggable="false" :style="rotationCSS"/>
                <img class="Player" id="like" v-show="showLike" src="{% static 'mainapp/images/like.png' %}" draggable="false"/>
            </div>
            <img class="Player main-to-prev-logo" :src="logo" draggable="false" :style="mainToPrevLogoAnimation"/>
            <img class="Player next-to-main-logo" :src="logoLink" draggable="false" :style="nextToMainLogoAnimation"/>
            <img class="Player prev-envelope" :src="logo" draggable="false" :style="prevEnvelopeAnimation"/>
            <img class="Player" :src="prevLogo" id="prevlogo" v-show="showPrev" draggable="false" :style="prevLogoAnimation"/>
            <img class="Player" id="nextlogo" :src="nextLogoLink" draggable="false" :style="nextLogoAnimation"/>
            <img class="Player next-envelope" :src="nextLogo" draggable="false" :style="nextEnvelopeAnimation"/>
        </div>
    </script>

    <script type="text/x-template" id="menuMore"> <!--компонент для меню "больше"-->
        <div id="menu" @click="toggleDrop">
            <img class="Button" id="menuPic" src="{% static 'mainapp/images/menu.png' %}" draggable="false"/>
            <transition name="menu-more">
                <ul id="menuDropdown" v-show="showMenu" @mouseleave="closeDrop">
                    <li class="Button" v-for="elem in menuElements">
                        <p class="menuElements">{{ '{{' }} elem }}</p>
                    </li>
                </ul>
            </transition>
        </div>
    </script>

    <script type="text/x-template" id="trackPerformer"> <!-- компонент для имени трека и исполнителя -->
        <div id="trackPerformerName">
            <p id="trackname">{{ '{{' }} trackName }}</p>
            <p id="performername">{{ '{{' }} performerName }}</p>
        </div>
    </script>

    <script type="text/x-template" id="volumeController"> <!-- компонент для контроллера громкости -->
    <div>
        <div v-show="showVolume || isFull" id="volumeControlZone" @mouseleave="mouseLeave" @mouseenter="mouseEnter">
            <transition>
                <div id="volume" >
                    <div id="volumeBackground" v-show="showVolume"></div>
                    <!--<div class="Player Button" id="draggingZone"></div>
                    <img class="Button" id = "ball" src="{% static 'mainapp/images/circle.png' %}" draggable="false"/>
                    <div class="Player Button" id="line"></div>
                    <div id="fillingLine"></div>-->
                    <vue-slider-component @drag-end="dragEnd" @drag-start="dragStart" v-model="value" :show="showVolume" ref="slider" v-bind="sliderprops"></vue-slider-component>
                </div>
            </transition>

            
            <div id="fullVolume" @mouseenter="refreshFunc">
                <vue-slider-component ref="fullSlider" v-model="value" :show="showFullVolume && isFull" v-bind="sliderpropsFull"></vue-slider-component>
            </div>
            
        </div>
        <div id="speaker" @mouseenter="openSpeaker" @click="clickSpeaker">
            <img class="Button" id="speakerPic" :src="speakerPic" draggable="false"/>
        </div>
    </div>
    </script>
    


    <script type="text/x-template" id="progressBar">  <!-- компонент для полоски прогресса -->
        <!--<div class="Button" id ="progress">
            <p id="playedTime">0:00</p>
            <p id="trackLength"></p>
            <div class="Player Button" id="progressLine"></div>
            <div id="progressBarLine"></div>
        </div>-->
        <div class="vue-simple-progress">
            <vue-slider-component @drag-end="dragEnd" @drag-start="dragStart" @mouseup.native="click" v-model="currentTime" ref="slider" v-bind="sliderPropsComputed" :max="sliderMax"></vue-slider-component>
            <!--<div class="foreground-progress-bar" :style="bar_style + height_style"></div>-->
            <div class="background-progress-bar" :style="bar_style + transition"></div>
            <!--<div v-show="isPlayerHovered" class="played-time">{{ '{{' }}playedTimeTop}}</div>
            <div v-show="isPlayerHovered || isFull" class="track-length">{{ '{{' }}trackLengthTop}}</div>-->
        </div>
    </script>

    <script type="text/x-template" id="audioPlayer">  <!-- компонент для элемента audio -->
        <audio id="audio" ref="audio" :src="audioLink" @loadeddata="startPlaying" @ended="endPlaying" preload> <!-- @timeupdate="setCurrentTime" -->
        </audio>
    </script>

    <script type="text/x-template" id="queue">  <!-- компонент для элемента audio -->
        <div class="queue">
            <img @click="openQueue" class="Button queue-button" src="{% static 'mainapp/images/queue.svg' %}" draggable="false"/>
            <transition name="queue">
                <div class="queue-list" v-show="showQueue" @mouseleave="">
                    <div @mouseenter="mouseEnterElement(index)" @mouseleave="mouseLeaveElement(index)" class="queue-element" v-for="(track, index) in tracksComputed">
                        <img :src="image(track.img)" class="queue-img"/>
                        <span :style="track.style" class="queue-text">{{ '{{' }} track.text }}</span>
                        <img src="{% static 'mainapp/images/playButton.png' %}" class="queue-play">
                    </div>
                </div>
            </transition>
        </div>
    </script>

    {% include "mainapp/vue-slider-component/template.html" %} <!-- подрубочка внешнего, скачанного компонента слайдера -->

    <script src="{% static 'mainapp/js/audio.js' %}"></script>
{% endblock %}