#playerContainer {
	width: 450px;
	height: 450px;
    right: 0;
    position:absolute;
    left: 0;
    margin: auto;
}
#player {
    right: 0;
    position:absolute;
    left: 0;
    margin: auto;
    top: 50px;
    height: 450px;
}

#playButton {
	top: 45%;
	width: 14%;
	height: 14%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
	position: absolute;
}

#mainlogo {
    top: -50%;
    width: 40%;
	height: 40%;
	box-shadow: 0px 4px 28px black/*#64bdf5;*/;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
	position: absolute;
	visibility:visible;
	z-index:15;
}
#logo {
    width: 100%;
	height: 100%;


	z-index:0;


}

#nextlogo {
	top: -50%;
    right: -100%;
	opacity: 0.3;
	width: 25%;
	height: 25%;
}

#maintoprevlogo {
	top: -50%;
	width: 40%;
	height: 40%;
	z-index:0;
    visibility: hidden;
}

#prevlogo {
	top: -50%;
    left: -100%;
	opacity: 0.3;
	width: 25%;
	height: 25%;
	visibility: hidden;
}

#nextButton {
    top: 45%;
    width: 12%;
    height: 12%;
    right: -90%;
    bottom: 0;
    left: 0;
    margin: auto;
	position: absolute;
}

#previousButton {
    width: 12%;
    height: 12%;
    top: 40%;
    left: -90%;
    visibility: hidden;
}
#trackname {
	font: 28px Arial,Helvetica,sans-serif;
	color: #e8e8e8;
	text-align:center;
	top: 55%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
	position: absolute;
}

#performername {
	font: 20px Arial,Helvetica,sans-serif;
	color: #e8e8e8;
	text-align: center;
	top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
	position: absolute;
}

#like {
    z-index: 5;
    opacity: 0.8;
    width: 40%;
    height: 40%;
    visibility: hidden;
}

#menu {
    z-index: 5;
    width: 40px;
    height: 40px;
    right: 0;
    left: -110%;
    top: 0;
    bottom: -10%;
    margin: auto;
	position: absolute;
}

#volume {
    top: 80%;
    height: 8%;
    width: 150px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
	position: absolute;
}