.Button {
	/*width: 128px;
	height: 128px;*/
	cursor: pointer;
	width: 14%;
	height: 14%;
}

.Player {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
	position: absolute;
}

body {

}

a {
    text-decoration: none;
    font: 20px Arial,Helvetica,sans-serif;
    color: #e8e8e8;
    margin: auto;
    align: right;
    position: inherit;
    opacity: 1.0;
    vertical-align: center;
}

#login {
    right: 30px;
    top: 15px;
}

#register {
    right: 110px;
    top: 15px;
}

#topbar {
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    height: 50px;
	background-color: black;
}

#playerContainer {
	width: 600px;
	height: 600px;
    right: 0;
    position:absolute;
    left: 0;
    margin: auto;
}
#player {
    right: 0;
    position:absolute;
    left: 0;
    margin: auto;
    top: 50px;
    height: 530px;
}

#playerBackground {
    width: auto;
    background-color: #3b3b3b;
    position: absolute;
}
#playButton {
	top: 45%;
}
#logo {
	top: -50%;
	width: 40%;
	height: 40%;
	border-radius: 10px;
	box-shadow: 1px 5px 28px black/*#64bdf5;*/;
	z-index:0;


}
#logo:hover {
	box-shadow: 1px 5px 28px #ff3079;
}

#nextlogo {
	top: -50%;
    right: -100%;
	opacity: 0.3;
	width: 25%;
	height: 25%;
}

#prevlogo {
	top: -50%;
	width: 40%;
	height: 40%;
	z-index:0;
    visibility: hidden;
}

#nextButton {
    top: 45%;
    right: -60%;
}

#previousButton {
    top: 45%;
    left: -60%;
}
#trackname {
	font: 20px Arial,Helvetica,sans-serif;
	color: #e8e8e8;
	text-align:center;
	top: 50%;
}

#sitename {
    font: 30px Arial,Helvetica,sans-serif;
    color: #e8e8e8;
    top: 8px;
    left: 15px;
    margin: auto;
    position: absolute;
    opacity: 1.0;
    vertical-align: center;
    width:auto;
    height:auto;
}

#like {
    z-index: 10;
    opacity: 0.8;
    margin: auto;
    left: 0;
    right: 0;
    top: -50%;
    bottom: 0;
    width: 20%;
    height:20%;
    position: inherit;
    visibility: hidden;
}