.Button {
	/*width: 128px;
	height: 128px;*/
	cursor: pointer;
	width: 14%;
	height: 14%;
}

.Player {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
	position: absolute;

    -moz-user-select:none;
    -webkit-user-select:none;

}

body {
    background-color: #5e5e5e;
}

a {
    text-decoration: none;
    font: 20px Arial,Helvetica,sans-serif;
    color: #e8e8e8;
    margin: auto;
    align: right;
    position: inherit;
    opacity: 1.0;
    vertical-align: center;
}

.login {
    right: 30px;
    top: 15px;
}

#register {
    right: 110px;
    top: 15px;
}

#topbar {
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    height: 50px;
	background-color: black;
}

#playerContainer {
	width: 450px;
	height: 450px;
    right: 0;
    position:absolute;
    left: 0;
    margin: auto;
}
#player {
    right: 0;
    position:absolute;
    left: 0;
    margin: auto;
    top: 50px;
    height: 450px;
}

#playerBackground {
    width: auto;
    background-color: #3b3b3b;
    position: absolute;
}
#playButton {
	top: 40%;
}

#mainlogo {
    top: -50%;
    width: 40%;
	height: 40%;
	box-shadow: 0px 4px 28px black/*#64bdf5;*/;
}
#logo {
    width: 100%;
	height: 100%;


	z-index:0;


}
#mainlogo:hover {
	box-shadow: 1px 5px 28px #ff3079;
}

#nextlogo {
	top: -50%;
    right: -100%;
	opacity: 0.3;
	width: 25%;
	height: 25%;
}

#maintoprevlogo {
	top: -50%;
	width: 40%;
	height: 40%;
	z-index:0;
    visibility: hidden;
}

#prevlogo {
	top: -50%;
    left: -100%;
	opacity: 0.3;
	width: 25%;
	height: 25%;
    visibility: hidden;
}

#nextButton {
    top: 40%;
    width: 12%;
    height: 12%;
    right: -90%;
}

#previousButton {
    width: 12%;
    height: 12%;
    top: 40%;
    left: -90%;
    visibility: hidden;
}
#trackname {
	font: 20px Arial,Helvetica,sans-serif;
	color: #e8e8e8;
	text-align:center;
	top: 50%;
}

#sitename {
    font: 30px Arial,Helvetica,sans-serif;
    color: #e8e8e8;
    top: 8px;
    left: 15px;
    margin: auto;
    position: absolute;
    opacity: 1.0;
    vertical-align: center;
    width:auto;
    height:auto;
}

#like {
    z-index: 5;
    opacity: 0.8;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    height: 40%;
    position: inherit;
    visibility: hidden;
}

#progressBar {
    background-color: black;/*#FFDA44;*/
    width: 0%;
    height: 100%;
    z-index: 10;
    opacity: 0.7;

}

#volume {
    top: 80%;
    height: 8%;
    width: 30%;
}

#speaker {
    width: 30px;
    height: 30px;
    left: -160%;
}

#ball {
    left: 0px;
    right: -100%;
    width: 20px;
    height: 20px;
    z-index: 10;
}
#line {
    background-color: #575757;
    width: 100%;
    height: 10px;
    border-radius: 15px;
    z-index: 0;
}

#fillingLine {
    background-color: #282828;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    height: 12px;
    border-radius: 15px;
    z-index: 5;
    margin: auto;
	position: absolute;
}

#draggingZone {
    width: auto;
    height: auto;
    z-index: 100;
}